.posts-wrap {
    padding: 88px 0;
}

.posts {
    >p {
        text-align: center;
        font-size: px-to-rem(18px);
        line-height: px-to-rem(25px);
        margin-bottom: 64px;
    }
}

.post-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
                'postbig postbig'
                'post-left post-right';
    row-gap: 40px;
    column-gap: 30px;
}

.post-big {
    grid-area: postbig;
    display: flex;
    background-color: #231F20;
    color: $white;
    align-items: center;
}

.post-big-img {
    margin-right: 78px;
}

.post-big-txt {
    max-width: 550px;
    h2 {
        font-size: px-to-rem(48px);
        line-height: px-to-rem(56px);
        margin-bottom: 60px;
        font-weight: 500;
    }
}

.post-author {
    font-size: px-to-rem(14px);
    line-height: px-to-rem(20px);
    margin-bottom: 27px;
}

.post-big-read {
    font-size: px-to-rem(18px);
    line-height: px-to-rem(25px);

    a {
        text-decoration: none;
        color: $white;

        &:hover {
            text-decoration: underline;
        }
    }
}

.post-left {
    grid-area: post-left;
}

.post-right {
    grid-area: post-right;
}

.posts-item {
    padding: 48px;

    h2 {
        font-weight: 500;
        font-size: px-to-rem(24px);
        line-height: px-to-rem(34px);
        margin-bottom: 28px;
    }

    p {
        font-size: px-to-rem(18px);
        line-height: px-to-rem(25px);
        margin-bottom: 45px;
    }

    &:hover {
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    }
}

p.posts-item-read {
    margin: 0;
    font-size: px-to-rem(14px);
    line-height: px-to-rem(20px);

    a {
        color: $black;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 900px) {
    
    .post-big-img {
        margin-right: 30px;
    }

    .post-big-txt {
        padding-right: 15px;
        // max-width: 550px;
        h2 {
            font-size: px-to-rem(32px);
            line-height: px-to-rem(47px);
            margin-bottom: 30px;
            font-weight: 300;
        }
    }

    .post-author {
        font-size: px-to-rem(14px);
        line-height: px-to-rem(20px);
        margin-bottom: 15px;
    }
}

@media (max-width: 800px) {
    .post-block {
        grid-template-columns: 1fr;
        grid-template-areas: 
                    'postbig'
                    'post-left'
                    'post-right';
        row-gap: 20px;
        column-gap: 0;
    }
}

@media (max-width: 540px) {
    .post-big {
        flex-direction: column;
        padding: 30px 0;
    }

    .post-big-img {
        margin: 0 auto 20px auto;
    }

    .post-big-txt {
        max-width: 400px;
        padding: 0 15px;
    }

    .posts-item {
        padding: 25px 15px;
    }
}